<div class="book-container">
  <h1>Book Summary</h1>
  <section class="book-summary">
  </section>
  <%= form_with do |form|%>
    <div class="book-input-fields">
      
      <div class="book-text-field">
        <%= form.label :title, "Book Title: " %>
        <%= form.text_field :title %>
      </div>
  
      <div class="book-text-field">
        <%= form.label :author_first_name, "Author First Name: " %>
        <%= form.text_field :author_first_name %>
      </div>
      
      <div class="book-text-field">
        <%= form.label :author_last_name, "Author Last Name: " %>
        <%= form.text_field :author_last_name %>
      </div>      
    </div>
  <% end %>
</div>